extends partials/templates/_template.pug

block content
  +b.SECTION.page--front-page
    - var index = true
    // Promo
    include partials/components/_promo.pug
    .container
      .row
        .col-xs-12.col-lg-5
          // Contacts section
          include partials/components/_contacts-section.pug
          // Certification fundamentals
          include partials/components/_certification-fundamentals.pug          
        .col-xs-12.col-lg-7
          // News section
          include partials/components/_news-section.pug 
