extends partials/templates/_template.pug

block content
  +b.SECTION.page--faq
    .container
      .row
        .col-xs-12.col-lg-10.push-lg-2
          // Content
          +b.SECTION.content
            +e.H1.title Часто задаваемые вопросы
            // Faq
            include partials/components/_faq.pug
        .col-xs-12.col-lg-2.pull-lg-10
          // Sidebar
          include partials/components/_sidebar.pug


