extends partials/templates/_template.pug

block content
  +b.SECTION.page--contacts
    .container
      .row
        .col-xs-12.col-lg-10.push-lg-2
          // Content
          +b.SECTION.content(itemscope, itemtype="http://schema.org/Article")
            +e.H1.title(itemprop="headline") Где получить сертификат. Центры сертификации продукции в Москве, Санкт-Петербурге и других городах
            +e.text(itemprop="articleBody")
              p Центры сертификации продукции и услуг (сертификационные центры) – это компании по сертификации, оказывающие услуги по оформлению и получению сертификатов «под ключ» в Москве, Санкт-Петербурге, Нижнем Новгороде, Екатеринбурге и других городах.
              p Компании по сертификации (центры сертификатов) имеют наработанные связи со всеми органами по сертификации в разных системах сертификации, что позволяет оформлять все необходимые разрешительные документы «в одном окне». Это значит, что, работая с компанией по сертификации, заказчику не придется самостоятельно проходить довольно длительные процедуры сбора документов в государственных структурах.
              p Мы предлагаем специально созданный каталог центров по сертификации (сертификационных центров), которые за долгие годы работы и сотрудничества зарекомендовали себя как надежные партнеры (выдача сертификатов в Москве, сертификатов в Санкт-Петербурге, оформление сертификатов).
              p Вы можете связаться со специалистами из более чем 30-ти городов с помощью онлайн-заявки или же заполнив форму «Вопрос-ответ» внизу страницы. Закажите обратный звонок и специалист сам  перезвонит Вам! Сертификация в один клик!
            // Tags
            include partials/components/_tags.pug
          // Contacts
          include partials/components/_contacts.pug
        .col-xs-12.col-lg-2.pull-lg-10
          // Sidebar
          include partials/components/_sidebar.pug






              
