extends partials/templates/_template.pug
include partials/abstracts/mixins/_glossary-article-item.pug

block content
  +b.SECTION.page--glossary
    .container
      .row          
        .col-xs-12.col-md-9.push-md-3.col-lg-10.push-lg-2
          // Content
          +b.SECTION.content
            +e.H1.title Азбука сертификации
            // Alphabet
            include partials/components/_alphabet.pug
            +e.content__articles 
              +e.content__letter
                +b.letter(id='A')
                +glossaryArticleItem("Аккредитация","Аккредитация — процесс удостоверения компетентности эксперта, органа по сертификации или испытательной лаборатории в той или иной сертификационной области. Только аккредитованный орган/лаборатория имеет право заверять своей печатью сертификат/результат испытания.")
              +e.content__letter
                +b.letter(id='В')
                +glossaryArticleItem("Ветеринарное свидетельство (удостоверение)","Ветеринарное свидетельство (удостоверение) – документ, выдаваемый службами ветеринарного надзора (в России – Россельхознадзор) о том, что транспортируемый груз в виде сырых продуктов животного происхождения (мяса, кожевенного и пушного сырья, шерсти, кости и т. п.) и прочей живности следует из незараженной благополучной зоны и не представляет опасности")
                +glossaryArticleItem("Всероссийский научно-исследовательский институт сертификации (ВНИИС)","ВНИИС — Всероссийский научно-исследовательский институт сертификации. Отказные письма ВНИИСа принимаются таможней при оформлении импортного товара. На данный момент отменены и заменены отказными письмами от Минпромторга.")
              +e.content__letter
                +b.letter(id='Г')
                +glossaryArticleItem("Госстрой","Госстрой — Государственный комитет Совета Министров СССР по делам строительства — государственный орган по управлению строительной отраслью экономики СССР. Ликвидирован в 1991 году.")
                +glossaryArticleItem("ГОСТ (ГОСТ Р)","ГОСТ — национальный стандарт качества. ГОСТ Р — государственная система оценки соответствия продукции, услуг национальным стандартам.")

        .col-xs-12.col-md-3.pull-md-9.col-lg-2.pull-lg-10
          // Sidebar
          include partials/components/_sidebar.pug





