extends partials/templates/_template.pug
include partials/abstracts/mixins/_laws-item.pug

block content
  +b.SECTION.page--laws
    .container
      .row          
        .col-xs-12.col-lg-10.push-lg-2
          // Content
          +b.SECTION.content
            +e.H1.title Законодательная база
            +e.text 
              p Для легального производства и реализации, на территории России введен ряд разрешительных документов, которые удостоверяют безопасность продукции. Основные виды сертификатов, которые могут потребоваться при производстве различных видов продукции.
              p Государственное регулирование сертификации происходит посредством принятия нормативных документов, законов о сертификации продукции и услуг и постановлений. Основным нормативным документом по сертификации является Федеральный Закон «О техническом регулировании», который устанавливает принципы и процедуры сертификации в России.
              p Законодательство в сфере сертификации опирается на Конституцию Российской Федерации, правовые акты, Конституционные и Федеральные Законы, указы и постановления Правительства России и Президента России.
              p Госстандарт, как центральный орган по сертификации, создает нормативную базу сертификации и регламентирует правила и процедуры сертификации различных видов продукции и услуг. Закон о сертификации продукции и услуг устанавливает правила и процедуры добровольной и обязательной сертификации.
              p Законодательная база сертификации включает:
            +e.laws 
              +lawsItem("Постановления", "post", "Постановления")
              +lawsItem("Указы", "post", "Указы")
              +lawsItem("Законы", "post", "Законы")
              +lawsItem("Распоряжения", "post", "Распоряжения")
              +lawsItem("Технические регламенты", "post", "Технические регламенты")
          // Form question
          include partials/components/_form--question.pug  

        .col-xs-12.col-lg-2.pull-lg-10
          // Sidebar
          include partials/components/_sidebar.pug



