.btn{
  display: inline-block;
  border: none;
  outline: none;
  color: $text-color;
  font-size: $font-size-btn;
  text-transform: uppercase;
  @include font-family('Pf Light', normal, normal);  
  padding: 8px 25px;
  margin: 0;

  &:hover, &:focus, &:active{
    // text-decoration: none;
  }

 
  &--form{
    margin-left: 200px;
    margin-bottom: 15px;
    background-color: $light-yellow;
    color: $text-color;
    &:hover, &:focus, &:active{
      background-color: $blue;
      color: $text-color-white;
    }
  } 
  &--pencil{
    display: block;
    @include sprite($s-pencil);
  }
}

// .up{
//   display: none;
//   position: fixed;
//   right: 20px;
//   bottom: 40px;
//   height: 40px;
//   width: 50px;
//   border-radius: 5px;
//   background-color: $black;
//   &:after{
//     content: '';
//     display: inline-block;
//     @include sprite($s-up);
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//   }
//   &:hover, &:focus, &:active{
//     background-color: $up-hover;
//   }
// }