.contacts-section{
  &__title{
    @include font-family('Pf Bold', normal, normal);
    text-transform: uppercase;
    margin: 20px 0 10px;
    font-size: $font-size-title;
    @include mq($from:xs, $until:lg){
      text-align: center;
    }
  }
  &__map{
    @include mq($from:xs, $until:lg){
      text-align: center;
    }
  }
  &__list{
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    columns: 3;
    @include mq($from:lg, $until:xl){
      columns: 2;
    }
    @include mq($from:xs, $until:sm){
      columns: 2;
    }
  }
  &__link{
    @include font-family('Pf Light', normal, normal);
    &:hover, &:focus {
      color: $text-color;
    }
  }
}


