.footer{
  background-image: linear-gradient(-35deg, $blue 47%, $light-blue 0%);
  &__form{
    padding-top: 10px;
    color: $text-color-white;
  }
  &__inner{
    margin-top: 30px;
    border: 3px solid $white;
  }
}

.nav-footer{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  &__list{
    flex: 0 0 25%;
    max-width: 25%;
    @include font-family('Pf Light', normal, normal);
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    @include mq($from:sm, $until:md){
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include mq($from:xs, $until:sm){
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  }
  &__item{
    &--social{
      margin-top: 20px;
    }
  }
  &__link{
    color: $text-color-white;
  }
}

.copyright{
  padding: 10px 0;
  text-align: center;
  &__text{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    @include mq($from:xs, $until:xl){
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
}

.counters{
  display: inline-block;
  vertical-align: middle;
  &__item{
    width: 88px;
    height: 31px;
    background-color: white;
  }
}