.has-success{
  input, textarea{
    outline: 2px solid $success;
  }
  .help-block{
    color: $success;
  }
}
.has-error{
  input, textarea{
    outline: 2px solid $error;
  }
  .help-block{
    display: block;
    color: $error;
  }
}
.help-block{
  display: none;
  font-size: $font-size-small;
  margin: 0 0 15px 200px;
}


