.news-section{ 
  &__title{
    @include font-family('Pf Bold', normal, normal);
    text-transform: uppercase;
    margin: 20px 0 10px;
    font-size: $font-size-title;
  }
  &__title-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  &__archive-link{

  }
  &__articles{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }
}

.news-section-item{
  flex: 0 0 50%;
  display: flex;
  padding-right: 20px;
  &:last-of-type{
    padding-right: 0;
  }
  @include mq($from:xs, $until:md){
    flex: 0 0 100%;
    padding-right: 0;
  }

  &__link{
    padding: 0 20px 20px;
    display: block;
    border: 3px solid transparent;
    text-decoration: none;
    &:hover, &:focus {
      border: 3px solid $blue;      
    }
  }
  &__title{
    @include font-family('Pf Bold', normal, normal);
    margin: 10px 0 10px;
    font-size: $font-size-bigger;
  }
  &__date{
    text-align: right;
    color: $text-color;
    font-size: $font-size-small;
    margin-bottom: 10px;
    @include font-family('Pf Light', normal, normal);
  }
  &__text{
    color: $text-color;
    @include font-family('Pf Light', normal, normal);
  }
}