.page{
  &--application{
    .content__title{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: bottom;
        margin-right: 15px;
        @include sprite($s-header-form-certificat);
      }
    }
  }
  &--question{
    .content__title{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: bottom;
        margin-right: 15px;
        @include sprite($s-header-form-question);
      }
    }
  }
  &--call{
    .content__title{
      &:before{
        content: '';
        display: inline-block;
        vertical-align: bottom;
        margin-right: 15px;
        @include sprite($s-header-form-call);
      }
    }
  }
  &--faq{
    .content__title{
      padding-left: 20px;
    }
  }
  &--news{
    .content__title{
      padding-left: 20px;
    }
    .pagination{
      padding-left: 20px;
    }
  }

  &__form{
    margin-bottom: 40px;
  }
}
