mixin certificationTypeItem(title, img, alt)
  +b.ARTICLE.certification-type-item
    +e.img
      img(src= "img/cert/" + img + ".jpg", alt= alt, title= alt)
    +e.H3.title
      +e.A.link(href="page.html") #{title}   




