include ../abstracts/bemto/bemto.pug


+b.alphabet
  +e.UL.list
    +e.item 
      +e.A.link(href="#А") А
    +e.item 
      +e.A.link(href="#Б") Б
    +e.item
      +e.A.link(href="#В") В
    +e.item
      +e.A.link(href="#Г") Г
    +e.item
      +e.A.link(href="#Д") Д
    +e.item
      +e.A.link(href="#") Е
    +e.item 
      +e.A.link(href="#") Ж
    +e.item 
      +e.A.link(href="#") З
    +e.item
      +e.A.link(href="#") И
    +e.item
      +e.A.link(href="#") К
    +e.item
      +e.A.link(href="#") Л
    +e.item
      +e.A.link(href="#") М
    +e.item 
      +e.A.link(href="#") Н
    +e.item 
      +e.A.link(href="#") О
    +e.item
      +e.A.link(href="#") П
    +e.item
      +e.A.link(href="#") Р
    +e.item
      +e.A.link(href="#") С
    +e.item
      +e.A.link(href="#") Т
    +e.item 
      +e.A.link(href="#") У
    +e.item 
      +e.A.link(href="#") Ф
    +e.item
      +e.A.link(href="#") Х
    +e.item
      +e.A.link(href="#") Ц
    +e.item
      +e.A.link(href="#") Ч
    +e.item
      +e.A.link(href="#") Ш
    +e.item
      +e.A.link(href="#") Щ
    +e.item
      +e.A.link(href="#") Ы
    +e.item
      +e.A.link(href="#") Э
    +e.item
      +e.A.link(href="#") Ю
    +e.item 
      +e.A.link(href="#") Я
