include ../abstracts/bemto/bemto.pug


+b.SECTION.certification-fundamentals
  +e.title-wrapper
    +e.icon ?
    +e.H2.title Основы сертификации в России
  +e.text Для того чтобы разобраться в особенностях сертификации, в первую очередь нужно знать, какие 
    a(href="#") виды сертификатов 
    | оформляются на территории России, какой сертификат для той или иной продукции будет обязательным, а какой можно оформить в добровольном порядке.
  +e.link(href="page.html") Подробнее »



