include ../abstracts/mixins/_office.pug
include ../abstracts/bemto/bemto.pug

- var mskMostest = [{city: 'Москва', title: 'Мостест Москва', address: 'Метро: "Курская", "Чкаловская", Костомаровский пер., д. 3, стр. 12, оф. 604', email: '77@mostest.ru', fax: '+7 (495) 228-07-40', tel: '+7 (495) 162-09-44', workFrom: '9:00', workTo: '18:00'}] 
- var mskRostest = [{city: 'Москва', title: 'Ростест Москва', address: 'Метро: "Проспект Мира (кольцевая)", "Комсомольская", пер. Грохольский, д. 32, оф. 302', email: 'otdel@ros-test.ru', fax: '+7 (495) 660-30-66', tel: '+7 (495) 162-02-80', workFrom: '9:00', workTo: '18:00'}]
- var mskRosstandart = [{city: 'Москва', title: 'Росстандарт', address: 'Метро: "Таганская", "Марксистская", ул. А. Солженицына, д. 11, стр. 1, офис 5', email: 'info@rosstandart.net', fax: '+7 (495) 663-22-18', tel: '+7 (495) 649-13-54', workFrom: '9:00', workTo: '18:00'}] 


+b.SECTION.contacts
  +e.upper
    +e.H2.title Выберите город
    +e.form
      +b.SECTION.form--city
        form(action='', method='')
          .form-group.field-city
            +e.SELECT.select.city-list
              option Москва
              option Санкт-Петербург
              option Екатеринбург
              option Пермь
              option Тюмень

  +e.map
  //- +b.city--spb(id='spb')

  +b.TABLE.table-offices
    tbody
      +b.TR.office--header
        +e.TD.city Город
        +e.TD.title Название
        +e.TD.details Адрес
      +office(mskMostest)
      +office(mskRostest)
      +office(mskRosstandart)

