include ../abstracts/bemto/bemto.pug
include ../abstracts/mixins/_faq-item.pug

+b.SECTION.faq
  +faqItem("Можно ли пользоваться чужим сертификатом или техническими условиями?","Чужими сертификатами можно пользоваться при наличии доверенности от «владельца» сертификата соответствия, если продукция и изготовитель полностью совпадают. Но, если в сертификате указан контракт на поставку или любой другой товаросопроводительный документ, то он действителен только для «владельца» сертификата, который указан в графе получатель.Чужими […]")
  +faqItem("Можно ли получить сертификат на основании своих испытаний?","Получить сертификат соответствия на основании своих протоколов возможно в том случае, если протоколы оформлены правильно и содержат необходимую информацию.Перед самостоятельным оформлением протоколов рекомендуется посоветоваться со специалистами Центра сертификации, чтобы определить необходимые показатели и нормативные документы, которые потребуются для выдачи сертификата соответствия.Вы можете […]")
  +faqItem("Как узнать, что продукция имеет сертификат соответствия?","Если на продукции, на ее упаковке (этикетке) или в руководстве к продукции имеется маркировка знаком соответствия (РСТ, РСТ Добровольная Сертификация, ЕАС, СТР и др.), то на нее получены документы о соответствии – сертификат или декларация. За самим документом необходимо обратиться к продавцу […]")
  +faqItem("Где можно купить технические условия?","Технические условия разрабатываются под конкретного производителя под его конкретную продукцию, т.к. одна и та же продукция разных изготовителей может иметь различные характеристики. Технические условия могут быть разработаны технологом на предприятии или специалистом в Центре сертификации.Один из вариантов получения технических условий – это […]")
  +faqItem("Где можно найти список всех сертификатов?","Существует реестр выданных сертификатов. В нем отражаются все выданные и действующие сертификаты соответствия по техническим регламентам. В реестр не вносятся сертификаты и декларации, оформленные в системе ГОСТ Р.  Такой реестр ведет Федеральная служба по аккредитации.Также существует реестр выданных свидетельств о государственной регистрации […]")
  +faqItem("Какой срок действия у сертификата?","Срок действия сертификата обычно указывается на самом документе. Максимальный срок действия зависит от типа сертификата:- Сертификаты и декларации, выданные в системе ГОСТ Р – максимальный срок действия 3 года.- Сертификаты и декларации, оформленные в соответствии с Техническими регламентами Российской Федерации, в том […]")

 

 
