include ../abstracts/bemto/bemto.pug


// Footer
+b.FOOTER.footer
  .container 
    +e.form
      // Form subscribe
      +b.SECTION.form--subscribe
        form(action='', method='')
          +e.H2.title Хотите получать актуальную информация о сертификации? 
            span.yellow.bolder Подпишитесь на нашу рассылку!
          .form-group.field-email.required
            +e.INPUT.input(type='text', name='Email', placeholder='Ваш email*')
            p.help-block Ошибка заполнения поля формы
          .form-group
            +b.BUTTON.btn--pencil(type='submit')
            p.help-block.help-block-success Ваша заявка отправлена
  
  .container
    +e.inner
      // Nav menu footer
      +b.NAV.nav-footer
        +e.UL.list
          +e.item 
            +e.A.link(href="index.html") Главная
          +e.item 
            +e.A.link(href="page-faq.html") FAQ
          +e.item
            +e.A.link(href="page-news.html") Новости
          +e.item
            +e.A.link(href="page.html") Развлечения
          +e.item
            +e.A.link(href="page.html") База ГОСТов России
          +e.item--social
            +b.UL.social-links
              +e.A.link--vk(target="_blank", href="https://vk.com")
              +e.A.link--tw(target="_blank", href="https://twitter.com")
        +e.UL.list
          +e.item 
            +e.A.link(href="page.html") База кодов ТН ВЭД
          +e.item 
            +e.A.link(href="page.html") База кодов ОКП
          +e.item
            +e.A.link(href="page.html") База кодов МКТУ
          +e.item
            +e.A.link(href="page.html") База кодов ОКВЭД2
          +e.item
            +e.A.link(href="page.html") База кодов ОКПд2
        +e.UL.list
          +e.item 
            +e.A.link(href="page-questions.html") Консультация специалиста
          +e.item
            +e.A.link(href="page-application.html") Заказать сертификат
          +e.item
            +e.A.link(href="page-call.html") Заказать звонок
        +e.UL.list
          +e.item 
            +e.A.link(href="page-laws.html") Законодательство
          +e.item
            +e.A.link(href="page-glossary.html") Азбука сертификации
          +e.item 
            +e.A.link(href="page.html") Лицензирование в России
          +e.item 
            +e.A.link(href="page-certtype.html") Виды сертификатов
          +e.item 
            +e.A.link(href="page-сontacts.html") Контакты

  // Copyright
  +b.SECTION.copyright
    .container
      +e.text ©2009-2016 ПРОГОСТ. Все права защищены. Запрещено использование любой информации с сайта в коммерческих или иных целях.
      +b.counters
        +e.item 

//- +b.overlay
  //- +e.form
  //-   include _form--modal.pug



