include ../abstracts/bemto/bemto.pug


+b.ASIDE.sidebar
  +e.link(href="page-application.html", data-form='application') Рассчитать стоимость
  +b.SECTION.contacts-sidebar
    +e.H2.title Центры сертификации
    +e.UL.list 
      +e.item
        +e.link(href="page-contacts.html#spb") Санкт-Петербург
      +e.item
        +e.link(href="page-contacts.html#msk") Москва
      +e.item
        +e.link(href="page-contacts.html#ekb") Екатеринбург
      +e.item
        +e.link(href="page-contacts.html#perm") Пермь
      +e.item
        +e.link(href="page-contacts.html#tyumen") Тюмень
      +e.item
        +e.link(href="page-contacts.html#surgut") Сургут
      +e.item
        +e.link(href="page-contacts.html#ufa") Уфа
      +e.item
        +e.link(href="page-contacts.html#spb2") Санкт-Петербург2
      +e.item
        +e.link(href="page-contacts.html#msk2") Москва2
      +e.item
        +e.link(href="page-contacts.html#ekb2") Екатеринбург2
      +e.item
        +e.link(href="page-contacts.html#perm2") Пермь2
      +e.item
        +e.link(href="page-contacts.html#tyumen2") Тюмень2
      +e.item
        +e.link(href="page-contacts.html#surgut2") Сургут2
      +e.item
        +e.link(href="page-contacts.html#ufa2") Уфа2
      +e.item
        +e.link(href="page-contacts.html#spb2") Санкт-Петербург2
      +e.item
        +e.link(href="page-contacts.html#msk2") Москва2
      +e.item
        +e.link(href="page-contacts.html#ekb2") Екатеринбург2
      +e.item
        +e.link(href="page-contacts.html#perm2") Пермь2
      +e.item
        +e.link(href="page-contacts.html#tyumen2") Тюмень2
      +e.item
        +e.link(href="page-contacts.html#surgut2") Сургут2
      +e.item
        +e.link(href="page-contacts.html#ufa2") Уфа2
      +e.item
        +e.link(href="page-contacts.html#spb2") Санкт-Петербург2
      +e.item
        +e.link(href="page-contacts.html#msk2") Москва2
      +e.item
        +e.link(href="page-contacts.html#ekb2") Екатеринбург2
      +e.item
        +e.link(href="page-contacts.html#perm2") Пермь2
      +e.item
        +e.link(href="page-contacts.html#tyumen2") Тюмень2
      +e.item
        +e.link(href="page-contacts.html#surgut2") Сургут2
      +e.item
        +e.link(href="page-contacts.html#ufa2") Уфа2


