include ../abstracts/bemto/bemto.pug

+b.tags Тэги:
  +e.UL.list
    +e.item
      +e.link(href='#') где получить сертификат соответствия
    +e.item
      +e.link(href='#') органы по сертификации
    +e.item
      +e.link(href='#') центры сертификации
