<div class="alphabet">
  <ul class="alphabet__list">
    <li class="alphabet__item">
      <a class="alphabet__link" href="#А">А</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#Б">Б</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#В">В</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#Г">Г</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#Д">Д</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Е</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Ж</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">З</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">И</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">К</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Л</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">М</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Н</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">О</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">П</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Р</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">С</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Т</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">У</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Ф</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Х</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Ц</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Ч</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Ш</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Щ</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Ы</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Э</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Ю</a>
    </li>
    <li class="alphabet__item">
      <a class="alphabet__link" href="#">Я</a>
    </li>
  </ul>
</div>