<section class="contacts">
  <div class="contacts__upper">
    <h2 class="contacts__title">Выберите город</h2>
    <div class="contacts__form">
      <section class="form form--city">
        <form action="" method="">
          <div class="form-group field-city">
            <select class="form__select city-list">
              <option>Москва</option>
              <option>Санкт-Петербург</option>
              <option>Екатеринбург</option>
              <option>Пермь</option>
              <option>Тюмень</option>
            </select>
          </div>
        </form>
      </section>
    </div>
  </div>
  <div class="contacts__map"></div>
  <table class="table-offices">
    <tbody>
      <tr class="office office--header">
        <td class="office__city">Город</td>
        <td class="office__title">Название</td>
        <td class="office__details">Адрес</td>
      </tr>
      <tr class="office">
        <td class="office__city">Москва</td>
        <td class="office__title">Мостест Москва</td>
        <td class="office__details">
          <div class="office__info">
            <div class="office__address">Метро: &quot;Курская&quot;, &quot;Чкаловская&quot;, Костомаровский пер., д. 3, стр. 12, оф. 604</div>
            <p class="office__email">E-mail:
              <a href="mailto:77@mostest.ru" target="_blank">77@mostest.ru</a>
            </p>
            <div class="office__tel">Тел/факс:
              <a href="tel:+7 (495) 228-07-40" target="_blank">+7 (495) 228-07-40</a>
            </div>
            <div class="office__tel">Телефон:
              <a href="tel:+7 (495) 162-09-44" target="_blank">+7 (495) 162-09-44</a>
            </div>
            <div class="office__hours">Время работы офиса с
              <span>9:00</span> до
              <span>18:00</span> по местному времени</div>
          </div>
        </td>
      </tr>
      <tr class="office">
        <td class="office__city">Москва</td>
        <td class="office__title">Ростест Москва</td>
        <td class="office__details">
          <div class="office__info">
            <div class="office__address">Метро: &quot;Проспект Мира (кольцевая)&quot;, &quot;Комсомольская&quot;, пер. Грохольский, д. 32, оф. 302</div>
            <p class="office__email">E-mail:
              <a href="mailto:otdel@ros-test.ru" target="_blank">otdel@ros-test.ru</a>
            </p>
            <div class="office__tel">Тел/факс:
              <a href="tel:+7 (495) 660-30-66" target="_blank">+7 (495) 660-30-66</a>
            </div>
            <div class="office__tel">Телефон:
              <a href="tel:+7 (495) 162-02-80" target="_blank">+7 (495) 162-02-80</a>
            </div>
            <div class="office__hours">Время работы офиса с
              <span>9:00</span> до
              <span>18:00</span> по местному времени</div>
          </div>
        </td>
      </tr>
      <tr class="office">
        <td class="office__city">Москва</td>
        <td class="office__title">Росстандарт</td>
        <td class="office__details">
          <div class="office__info">
            <div class="office__address">Метро: &quot;Таганская&quot;, &quot;Марксистская&quot;, ул. А. Солженицына, д. 11, стр. 1, офис 5</div>
            <p class="office__email">E-mail:
              <a href="mailto:info@rosstandart.net" target="_blank">info@rosstandart.net</a>
            </p>
            <div class="office__tel">Тел/факс:
              <a href="tel:+7 (495) 663-22-18" target="_blank">+7 (495) 663-22-18</a>
            </div>
            <div class="office__tel">Телефон:
              <a href="tel:+7 (495) 649-13-54" target="_blank">+7 (495) 649-13-54</a>
            </div>
            <div class="office__hours">Время работы офиса с
              <span>9:00</span> до
              <span>18:00</span> по местному времени</div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>