<!-- Footer-->
<footer class="footer">
  <div class="container">
    <div class="footer__form">
      <!-- Form subscribe-->
      <section class="form form--subscribe">
        <form action="" method="">
          <h2 class="form__title">Хотите получать актуальную информация о сертификации?
            <span class="yellow bolder">Подпишитесь на нашу рассылку!</span>
          </h2>
          <div class="form-group field-email required">
            <input class="form__input" type="text" name="Email" placeholder="Ваш email*" />
            <p class="help-block">Ошибка заполнения поля формы</p>
          </div>
          <div class="form-group">
            <button class="btn btn--pencil" type="submit"></button>
            <p class="help-block help-block-success">Ваша заявка отправлена</p>
          </div>
        </form>
      </section>
    </div>
  </div>
  <div class="container">
    <div class="footer__inner">
      <!-- Nav menu footer-->
      <nav class="nav-footer">
        <ul class="nav-footer__list">
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="index.html">Главная</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-faq.html">FAQ</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">Форум</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">Развлечения</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">База ГОСТов России</a>
          </li>
          <li class="nav-footer__item nav-footer__item--social">
            <ul class="social-links">
              <li>
                <a class="social-links__link social-links__link--vk" target="_blank" href="https://vk.com"></a>
              </li>
              <li>
                <a class="social-links__link social-links__link--tw" target="_blank" href="https://twitter.com"></a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav-footer__list">
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">База кодов ТН ВЭД</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">База кодов ОКП</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">База кодов МКТУ</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">База кодов ОКВЭД2</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">База кодов ОКПд2</a>
          </li>
        </ul>
        <ul class="nav-footer__list">
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-questions.html">Консультация специалиста</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-application.html">Заказать сертификат</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-call.html">Заказать звонок</a>
          </li>
        </ul>
        <ul class="nav-footer__list">
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-laws.html">Законодательство</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-glossary.html">Азбука сертификации</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page.html">Лицензирование в России</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-certtype.html">Виды сертификатов</a>
          </li>
          <li class="nav-footer__item">
            <a class="nav-footer__link" href="page-сontacts.html">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <!-- Copyright-->
  <section class="copyright">
    <div class="container">
      <div class="copyright__text">©2009-2016 ПРОГОСТ. Все права защищены. Запрещено использование любой информации с сайта в коммерческих или иных целях.</div>
      <div class="counters">
        <div class="counters__item"> </div>
      </div>
    </div>
  </section>
</footer>