<!-- Header-->
<header class="header">
  <!-- Hamburger-->
  <div class="header__hamburger">
    <a class="hamburger" href="#">
      <span></span>
    </a>
  </div>
  <!-- Nav-->
  <div class="header__nav">
    <div class="container">
      <!-- Nav menu header-->
      <nav class="nav-header">
        <ul class="nav-header__list">
          <li class="nav-header__item">
            <a class="nav-header__link" href="index.html">Главная</a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="page-glossary.html">Азбука сертификации</a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="page.html">Лицензирование в России</a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="page-laws.html">Законодательство</a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="page-faq.html">FAQ</a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="page.html">Форум</a>
          </li>
          <li class="nav-header__item">
            <a class="nav-header__link" href="page-questions.html">Ответы на вопросы</a>
          </li>
          <li class="nav-header__item nav-header__item--search">
            <!-- Form search-->
            <section class="form form--search">
              <form action="" method="">
                <div class="form-group field-search required">
                  <input class="form__input" type="text" name="Поиск" placeholder="Искать..." />
                  <p class="help-block">Ошибка заполнения поля формы</p>
                </div>
              </form>
            </section>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="header__logo-wrapper">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo">
          <!-- Logo-->
          <a class="logo" href="index.html" itemscope="itemscope" itemtype="http://schema.org/Brand">
            <img src="img/logo.png" alt="logo" title="logo" itemprop="logo" />
          </a>
        </div>
        <!-- Three buttons-->
        <div class="header-three-buttons">
          <div class="header-three-buttons__item">
            <div class="header-three-buttons__icon"></div>
            <a class="header-three-buttons__link" href="page-questions.html" data-form="question">Задать вопрос</a>
          </div>
          <div class="header-three-buttons__item">
            <div class="header-three-buttons__icon"></div>
            <a class="header-three-buttons__link" href="page-call.html" data-form="call">Заказать звонок</a>
          </div>
          <div class="header-three-buttons__item">
            <div class="header-three-buttons__icon"></div>
            <a class="header-three-buttons__link" href="page-application.html" data-form="application">Заказать сертификат</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services-->
  <div class="header__services">
    <div class="container">
      <div class="menu-services">
        <ul class="menu-services__list">
          <li class="menu-services__item">
            <a class="menu-services__link" href="page-goods.html">Сертификат на товар</a>
          </li>
          <li class="menu-services__item">
            <a class="menu-services__link" href="page-certtype.html">Виды сертификатов</a>
          </li>
          <li class="menu-services__item">
            <a class="menu-services__link" href="page.html">Технические регламенты</a>
          </li>
          <li class="menu-services__item">
            <a class="menu-services__link" href="page.html">База кодов ТН ВЭД</a>
          </li>
          <li class="menu-services__item">
            <a class="menu-services__link" href="page.html">База ГОСТов России</a>
          </li>
          <li class="menu-services__item">
            <a class="menu-services__link" href="page.html">Проверка документов </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>