<section class="promo">
  <div class="container">
    <div class="promo__inner">
      <h1 class="promo__title">Портал о сертификации продукции и услуг в России</h1>
      <div class="promo__text">
        <p>Информационный портал ПроГОСТ – единое справочное пособие и практическое руководство в области сертификации продукции и услуг. На сайте собрана практически вся необходимая информация, которая может потребоваться как людям, впервые столкнувшимся
          с понятием сертификации, так и специалистам в данной области.</p>
        <p>Ежедневно сотни людей заходят на сайт, получают ответы на свои вопросы, заказывают и оформляют документы, подтверждающие качество их продукции и услуг. ПроГОСТ взаимодействует без малого с 50 центрами и органами по сертификации по всей России.
          Только благодаря этому каждый день оформляются десятки лицензий и деклараций, свидетельств и сертификатов на продукцию, заключений, удостоверений и других документов.</p>
        <p>Желаем вам приятной работы!</p>
        <p>С уважением, команда ПроГОСТ</p>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="promo__subtitle">Мы в социальных сетях</h3>
          <ul class="social-links">
            <li>
              <a class="social-links__link social-links__link--vk" target="_blank" href="https://vk.com"></a>
            </li>
            <li>
              <a class="social-links__link social-links__link--tw" target="_blank" href="https://twitter.com"></a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <h3 class="promo__subtitle">Вы можете сохранить закладку на сайт</h3>
          <div class="widget">Виджет VK</div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="promo__gif">
            <img src="img/banner1.gif" alt="banner" title="banner" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>