<aside class="sidebar">
  <a class="sidebar__link" href="page-application.html" data-form="application">Рассчитать стоимость</a>
  <section class="contacts-sidebar">
    <h2 class="contacts-sidebar__title">Центры сертификации</h2>
    <ul class="contacts-sidebar__list">
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#spb">Санкт-Петербург</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#msk">Москва</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ekb">Екатеринбург</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#perm">Пермь</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#tyumen">Тюмень</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#surgut">Сургут</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ufa">Уфа</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#spb2">Санкт-Петербург2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#msk2">Москва2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ekb2">Екатеринбург2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#perm2">Пермь2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#tyumen2">Тюмень2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#surgut2">Сургут2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ufa2">Уфа2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#spb2">Санкт-Петербург2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#msk2">Москва2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ekb2">Екатеринбург2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#perm2">Пермь2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#tyumen2">Тюмень2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#surgut2">Сургут2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ufa2">Уфа2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#spb2">Санкт-Петербург2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#msk2">Москва2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ekb2">Екатеринбург2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#perm2">Пермь2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#tyumen2">Тюмень2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#surgut2">Сургут2</a>
      </li>
      <li class="contacts-sidebar__item">
        <a class="contacts-sidebar__link" href="page-contacts.html#ufa2">Уфа2</a>
      </li>
    </ul>
  </section>
</aside>